#version=RHEL9

# Do not use graphical install
text

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Partition clearing information
# zerombr
# clearpart --all --drives={{ hostvars[item]['disk'] }}
# # Partitioning
# ignoredisk --only-use={{ hostvars[item]['disk'] }}
# partition /boot/efi --fstype=vfat --size=512
# partition / --fstype=ext4 --grow

ignoredisk --only-use={{ hostvars[item]['disk'] }}
autopart
# Partition clearing information
clearpart --none --initlabel


# zerombr
# clearpart --all --initlabel
# # ignoredisk --only-use={{ hostvars[item]['disk'] }}
# partition /boot/efi --fstype=vfat --size=512
# part / --fstype=ext4 --asprimary --grow --size=1

# Network information
network --bootproto=static --device={{ hostvars[item]['network_interface'] }} --ip={{ hostvars[item]['ansible_host'] }} --gateway={{ ansible_default_ipv4.gateway }} --nameserver={{ dns_server }} --netmask={{ ansible_default_ipv4.netmask }} --ipv6=auto --hostname={{ hostvars[item]['inventory_hostname'] }} --activate

# Use network installation
url --url="http://{{ ansible_default_ipv4.address }}/os"
repo --name="AppStream" --baseurl="http://{{ ansible_default_ipv4.address }}/os/AppStream"
# repo --name="BaseOS" --baseurl="http://{{ ansible_default_ipv4.address }}/os/BaseOS"

# Disable Setup Agent on first boot
#firstboot --disable
firstboot --enable
# Do not configure the X Window System
skipx
# Enable NTP
services --enabled="chronyd"
# System timezone
timezone {{ timezone }} --utc

# Create user (locked by default)
user --groups=wheel --name=admin
# Add SSH key
sshkey --username=root "{{ ssh_public_key }}"
# Disable root password login
rootpw --lock

# Disable SELinux
selinux --disabled

# Disable firewall
firewall --disabled

%packages
@^custom-environment
openssh-server
nfs-utils
iscsi-initiator-utils
lvm2
%end

# Enable iSCSI for Kubernetes storage
services --enable=iscsid

reboot




# # Generated by Anaconda 34.25.2.10
# # Generated by pykickstart v3.32
# #version=RHEL9
# # Use graphical install
# graphical
# repo --name="minimal" --baseurl=file:///run/install/sources/mount-0000-cdrom/minimal

# %addon com_redhat_kdump --enable --reserve-mb='auto'

# %end

# # Keyboard layouts
# keyboard --xlayouts='us'
# # System language
# lang en_US.UTF-8

# # Network information
# network  --bootproto=static --device=ens192 --gateway=172.31.30.254 --ip=172.31.30.60 --nameserver=172.31.20.50,172.31.20.51 --netmask=255.255.255.0 --noipv6 --no-activate
# network  --hostname=s3

# # Use CDROM installation media
# cdrom

# %packages
# @^minimal-environment

# %end

# # Run the Setup Agent on first boot
# firstboot --enable

# # Generated using Blivet version 3.6.0
# ignoredisk --only-use=sda
# autopart
# # Partition clearing information
# clearpart --none --initlabel

# # System timezone
# timezone America/New_York --utc

# # Root password
# rootpw --iscrypted --allow-ssh $6$KdjmqTFeeO6DxmfK$NjH6vktES4SaJNaGxAHaJThWP0Tn8cxV7sD8db.rm00q3tLbDciwekmRTE2FtKyeTo1/KOVrAgdK7SY1obGNT.
