#!ipxe

dhcp
kernel http://172.31.30.1/talos/kernel-amd64 talos.platform=metal console=ttyS0 console=tty0 init_on_alloc=1 slab_nomerge pti=on consoleblank=0 nvme_core.io_timeout=4294967295 printk.devkmsg=on ima_template=ima-ng ima_appraise=fix ima_hash=sha512 net.ifnames=0
initrd http://172.31.30.1/talos/initramfs-amd64.xz
boot
