{{ ansible_managed | comment }}

# Minio local/remote volumes.

MINIO_VOLUMES="{{ minio_server_datadirs | join(' ') }}"
MINIO_OPTS="--address {{ minio_server_addr }} {{ minio_server_opts }}"

{% if minio_access_key %}
# Access Key of the server.
MINIO_ACCESS_KEY="{{ minio_access_key }}"
{% endif %}
{% if minio_secret_key %}
# Secret key of the server.
MINIO_SECRET_KEY="{{ minio_secret_key }}"
{% endif %}

{{ minio_server_env_extra }}

{% if minio_root_user %}
MINIO_ROOT_USER="{{ minio_root_user }}"
{% endif %}
{% if minio_root_password %}
MINIO_ROOT_PASSWORD="{{ minio_root_password }}"
{% endif %}
